<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Update</string>
	<key>CFBundleIconFile</key>
	<string>update</string>
	<key>CFBundleIdentifier</key>
	<string>ac.nz.stat.inzight_update</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iNZight Updater</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>iNZight Updater for Mac 2.0</string>
	<key>CFBundleSignature</key>
	<string>aplt</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
</dict>
</plist>
