<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>X11</string>
	<key>CFBundleGetInfoString</key>
	<string>org.macosforge.xquartz.X11</string>
	<key>CFBundleIconFile</key>
	<string>X11.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.macosforge.xquartz.X11</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XQuartz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.8</string>
	<key>CFBundleSignature</key>
	<string>x11a</string>
	<key>CFBundleVersion</key>
	<string>2.7.86</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>macosforge.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© 2003-2015 Apple Inc.
© 2003 XFree86 Project, Inc.
© 2003-2015 X.org Foundation, Inc.
</string>
	<key>NSMainNibFile</key>
	<string>main</string>
	<key>NSPrincipalClass</key>
	<string>X11Application</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://xquartz.macosforge.org/downloads/sparkle/release.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle.pem</string>
</dict>
</plist>
